@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    gap: 0;
}

.adm-header{
    background-color: orange;
    
}
.nav-editor{
    display: flex;
    align-items: center;
}

.navbarAdm {
    display: flex;
    justify-content: center;
}

.navbarAdm button {
    display: inline-block;
    background-color: #FFF;
    margin: 30px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    transition: 1s;
    border: transparent 5px solid;
    position: relative;
    overflow: hidden; /* Add this line to hide overflow */
}

.navbarAdm button:hover {
    filter: brightness(55%);
    transition: 1s;
    border: #F58A07 5px solid;
}

.navbarAdm .button-content {
    position: relative;
}

.navbarAdm .button-content img {
    width: 150px;
    height: 150px;
    padding: 5px;
}

.navbarAdm .button-content .text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.navbarAdm .button-content .button-text {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #000;
}

.navbarAdm button:hover .button-text {
    opacity: 1;
}


.addtime-adm{
    border: solid 2px #084887;
    background-color: transparent;
    color: #084887;
    font-size: 25px;
    font-weight: bold;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    left: 310px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.6s;
}
.addtime-adm:hover{
    transition: 0.6s;
    color: #F58A07;
    border:solid 2px #F58A07;
    text-shadow: 2px 1px 2px #754e1f;
    box-shadow: 1px 1px 1px 1px #754e1f;
}
.btn-14 {
    background: rgb(255, 151, 0);
    border: none;
    z-index: 1;
    position: relative; /* Adiciona position relativa para que :after posicionado absolutamente funcione corretamente */
    width: 70px; /* Define a largura do botão */
    height: 30px; /* Define a altura do botão */
    line-height: 30px; /* Ajusta o alinhamento do texto verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
    display: inline-block; /* Garante que o botão mantenha as dimensões definidas */
    margin: 4px; /* Define a margem ao redor do botão */
    box-shadow: 0 0 0 4px blue; /* Adiciona uma borda azul em torno do botão usando box-shadow */
}

.btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow: 
        inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-14:hover {
    color: #000;
}

.btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn-14:active {
    top: 2px;
}
