*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #084887;
}

header{
    background-color: #FFF;
}

.logo-button{
    border: 0;
    cursor: pointer;
    background-color: #FFF;
}

.logo-button:disabled{
    background-color: #FFF;
    border: none;
}

.flex-box{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo-header{
    width:250px;
    margin: 30px 70px;
}

.info-principal{
    display: flex;
    justify-content: space-around;
}

.tabela-title{
    margin: 30px 70px;
    font-size: 40px;
    background-color: #FFF;
    border-radius: 50px;
    text-align: center;
    width: 150px;
}

.tabela{
    margin: 10px 0 10px 70px;
}

.noticia{
    margin: 115px 40px;
    width: 1100px;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar button{
    background-color: #FFF;
    margin: 30px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
}

.navbar button img{
    width: 150px;
    height: 150px;
    padding: 5px;
    
}

.info-jogo{
    display: flex;
    justify-content: space-around;
}

.tabela-brasileirao{
    background-color: #FFF;
    border-radius: 50px;
    width: 200px;
    margin: 30px 70px;
    text-align: center;
    padding: 10px;
}

.brasileirao{
    margin: 30px 70px;
    width: 500px;
}

.partidas{
    margin:150px 250px;
    width: 700px;
}

.copyright{
    margin: 15px;
}

select{
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    font-size: 20px;
}

#campeonato{
    margin: 60px 70px 10px;
}

.g5{
    margin: 10px 70px;
    color: #FFF;
}

.artilharia{
    margin: 10px 10px;
    color: #FFF;
}
.lesoes{
    margin: 10px 10px;
    color: #FFF;
}

.info{
    display: flex;
    justify-content: center;
}

.info-content{
    margin: 10px 10px;
    color: #FFF;
}


footer{
    color: #FFF;
    background-color: #201e1e;
    text-align: center;
    margin-top: 200px;
    padding: 40px;
}

footer img{
    width: 500px;
}

