*{
    margin: 0;
    padding: 0;
    gap: 0;
}
body{
    background-color: #084887;
}

header{
    background-color: #FFF;
    box-shadow: 0px 0px 8px 2px #201e1e;
    margin-bottom: 10px;
}

.addtime{
    border: solid 2px #084887;
    color: #084887;
    font-size: 25px;
    font-weight: bold;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    left: 310px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.6s;
}

.addtime:hover{
    transition: 0.6s;
    color: #F58A07;
    border:solid 2px #F58A07;
}


.logo-button{
    border: 0;
    cursor: pointer;
    background-color: #FFF;
}

.logo-button:disabled{
    background-color: #FFF;
    border: none;
}

.flex-box{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo-header{
    width:200px;
    margin: 20px 70px;
}

.info-principal{
    display: flex;
    justify-content: space-around;
}

.tabela-title{
    margin: 5px 70px;
    font-size: 25px;
    background-color: #FFF;
    border-radius: 50px;
    text-align: center;
    width: 150px;
    box-shadow: 0px 0px 8px 2px #201e1e;
}

.tabela{
    margin: 10px 0 10px 70px;
}

.noticia{
    margin: 45px 40px;
    width: 90%;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar button{
    background-color: #FFF;
    margin: 30px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
}

.navbar button img{
    width: 150px;
    height: 150px;
    padding: 5px;
    
}

.info-jogo{
    display: flex;
    justify-content: space-around;
}

.tabela-brasileirao{
    background-color: #FFF;
    border-radius: 50px;
    width: 200px;
    margin: 30px 70px;
    text-align: center;
    padding: 10px;
}

.brasileirao{
    margin: 30px 70px;
    width: 500px;
}

.partidas{
    margin:150px 150px;
    width: 400px;
}

.copyright{
    margin: 15px;
}

select{
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    font-size: 20px;
}

#campeonato{
    margin: 60px 70px 10px;
}

.info-linha{
    display: flex;
    justify-content: center;
}

.info-linha img{
    vertical-align:middle;
}

.info{
    display: flex;
    margin-left: 70px;
}

.info-content{
    margin: 10px 10px;
    color: #FFF;
}


#calendario img{
    width: 85%;
}

#cartoes img{
    width: 98%;
}

#transferencia img{
    width: 90%;
}

.melhores{
    margin: 10px 0 0 70px;
    display: flex;
    object-fit: cover;
}
.melhores img{
    justify-items: flex-end;
    height: 250px;
    width: 250px;
}

.coluna-noticia img{
    justify-content: flex-start;
}

.proximos{
    margin: 10px 70px;
}

.proximos img{
    width: 520px;
}

.column2{
    display: flex;
}

.noticia-basquete{
    color: #FFF;
    margin-top: 150px;
}

.noticia-basquete img{
    width: 635px;
    margin: 25px 10px ;
}

.noticia-grande img{
    margin: 30px 40px;
    width: 900px;
}

.noticias-horizontal{
    display: flex;
}

.noticias-horizontal img{
    margin: 10px 60px;
    width: 350px;
}

#foto-cima{
    margin: 0 60px;
}

.formacao-noticias{
    display: flex;
}

.noticia-lateral img{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 60px 0 0 0;
}

footer{
    color: #FFF;
    background-color: #201e1e;
    text-align: center;
    margin-top: 200px;
    padding: 40px;
}

footer img{
    width: 500px;
}
.Filtros button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}
.Galeria-produtos{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px;
    justify-content: center;
    gap: 10px;
    && img{
        object-fit: cover;
        width: 250px;
        height: 250px;
        
    }
}

@media screen and (max-width: 900px){
    header{
        width: 60%;
    }
    .logo-header{
        width: 100px;
    }
    .perfil{
        width: 60px;
    }
    .addtime{
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    main{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
    }
    .navbar{
    
        flex-direction: column;
        justify-items: center;
    }
    .navbar button{
        height: 100px;
        width: 100px;
    }
    .navbar button img{
        width: 90px;
        height: 90px;
        padding: 5px;
    }
}



.tabela-brasileirao {
    width: 600px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 2px solid #ddd;
  }
  
  .tabela-brasileirao th,
  .tabela-brasileirao td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .tabela-brasileirao th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .tabela-brasileirao tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tabela-brasileirao tbody tr {
    background-color: #FFF;
  }

  .tabela-brasileirao tbody tr:hover{
    background-color: #F58A07;
  }
  


  
 
  